body {
  display: flex;
  flex-direction: column;
  background-color: #ba5959;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.to-do-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 255, 0.69);
  padding: 20px;
  border-radius: 18px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: #55e25a;
  padding: 15px 25px;
  margin: 0;

}

.add-button:hover {
  background-color: #3a863e;
}

.delete-button {
  background-color: #e25555;
}

.delete-button:hover {
  background-color: #863a3a;
}

.move-button {
  background-color: #ba55e2;
}

.move-button:hover {
  background-color: #833a86;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  color: #000;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: aqua;
  border-radius: 12px;
  margin-bottom: .5rem;
  border: 3px solid hsla(0, 3%, 19%, 0.75);

  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  /* => 3 properties flex-grow:1; flex-shrink:1; flex-basis:0; */

}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}